.space{
	
	background-color:blue;
	margin:30px;
	
}
h1 {
	text-align: center;
	font-family: verdana;
	color:#8785B8;
	font-family: fantasy;
	
}
.row{
	margin;20px;
}
img {
	float:right;
	width:25%;

	
	
}

.comment{
	font-size: 18px;
}
#user-text{
	font-size:25px;
}
.space-main{
	margin-top:40px;
	border:2px black solid;
	background-color: #f4f4f4;
	color: purple;
	text-align: left;
	
}
body {
	background-image: url("psy.jpg");
}
#commentWin{
	font-size:32px;
	
}
#commentLose{
	font-size:32px;
}
p{
	margin:10px;
	font-family: fantasy;
	
}
.space {
	background-color: #f4f4f4;
	
	
	border: black 2px solid;
	
}
.title-board{
	margin-bottom:30px;
	background-image: url("psy1.jpg");
	color: purple;
	font-family: fantasy;
	
}
.title{
	text-align: center;
	color: purple;
}